.form-title {
    margin: 2rem 0;
    text-align: center;
    width: 100%;
}

.form-control {
    border-right: 0;
}

.form-group {
    margin: 0;
}

.input-group-addon {
    background: transparent;
}

.list-group-item {
    border-radius: .25rem;
    margin: .25rem 0 0;
}

body {
    background: lightgray;
}