<html lang="en">
    <head>
        {% block head_block %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="keywords" content="">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
            {# <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> #}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1 class="form-title mx-auto">Markov the Chains</h1>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-8 col-sm-12">
                    <form method="GET" action="/">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-hashtag fa-fw"></i></span>
                                <input type="text" class="form-control" name="start" placeholder="Type in a word to seed generated comments">
                                <span class="input-group-addon">
                                    <input class="btn btn-primary btn-sm" type="submit" value="Generate">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-8 col-sm-12">
                <ul class="list-group">
                {% for sentence in sentences %}
                    <li class="list-group-item">{{ sentence }}</li>
                {% else %}
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-danger" role="alert">
                                <strong>Sorry!</strong> I could not generate anything from '{{ start_word }}'.
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </ul>
                </div>
            </div>
        </div>
    </body>
</html>